<ion-view view-title="Settings">
      <ion-content class="padding">
<h4>Notificaciones</h4>
<div class="card">

  <div class="item item-text-wrap">
    <div class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     New Matches
  </div>
  <div class="item item-checkbox">
   <label class="checkbox">
     <input type="checkbox">
   </label>
   Messages
</div>
<div class="item item-checkbox">
 <label class="checkbox">
   <input type="checkbox">
 </label>
 Moment Likes
</div>
  </div>

</div>

<h4>Show Distances in:</h4>
<div class="card">
  <div class="list">
    <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Mi
    </div>
    <i class="radio-icon ion-checkmark"></i>
    <label class="item item-radio">
    <input type="radio" name="group" checked="">
    <div class="item-content">
      Km
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  </div>
</div>

<div class="card padding">
  Restore Purchase
</div>
<div class="card padding">
  Privace Policy
</div>
<div class="card padding">
  Terms of Service
</div>

<div class="card padding">
  Logout
</div>

</ion-content>
</ion-view>
